
body,
header #header-container,
header #header-container .black-filter {
    min-width:1300px;
}

.gist-color { color:#DC2314; }

.bx-wrapper {margin-bottom: initial !important;}


#global-loading {
    z-index:10;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100px;
    margin:0 auto;
}
#global-loading .lds-ripple { top:40% }
.container {max-width:1300px;margin:0 auto;}
.container.no-max-width { max-width: initial !important; }

header, section { /*opacity:0;*/ }

nav {
    background:transparent;
    min-height:130px;
    z-index:130;
    -webkit-transition:all 0.3s cubic-bezier(0.05, 0.95, 0.58, 1);
    -moz-transition:all 0.3s cubic-bezier(0.05, 0.95, 0.58, 1);
    -o-transition:all 0.3s cubic-bezier(0.05, 0.95, 0.58, 1);
    transition:all 0.3s cubic-bezier(0.05, 0.95, 0.58, 1);

}
nav:hover {
    background:#2F363C;
}
nav a.nav-link {
    color:white;
    font-size:18px;
}


nav #main-menu {margin-left:20px;}
nav #main-menu a:not(:first-child) {margin-left:20px;}

/* Home */
header .headerSliderWrapper {z-index:2;margin-top:-130px;}
header #sliderWrapper .black-filter { z-index:3;position: absolute;height:500px;left:0;right:0;background:rgba(0,0,0,0.2); }
header #slider .item {
    width:100%;
    height:500px;
    background-image: url("http://placehold.it/1920x500");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
header #sliderWrapper .black-filter #text { line-height:1.0em;text-shadow: 0 0 4px rgba(33,14,9,0.4);margin-top:200px; font-style: italic; color:white;font-size: 4em; text-align: center;}
/* Others */
header #header-container {
    width:100%;
    height:300px;
    margin-top:-130px;
    background:#e3e3e3;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    text-align: center;
}
header #header-container.short,
header #header-container.short > .black-filter { height:130px; }
header #header-container #text {
    line-height:170px;
    padding-top:130px;
    font-size:2em;
    font-style: italic;
}
header #header-container #underbar {
    width:100px;
    height:4px;
    background-color:white;
    margin:0 auto;
    margin-top:-50px;
}
header #header-container .black-filter { width:100%;z-index:3;position: absolute;height:300px;left:0;right:0;background:rgba(0,0,0,0.3); }
header #header-title { background:#E8E8E8; }

section { min-height:500px; }

footer { background: #e3e3e3; color: #343434; }
footer #links { font-family: 'Noto Sans', 'Nanum Gothic', sans-serif; font-size:15px; }
footer #links a { color: #343434; }
footer #links li:not(:first-child) { margin-top:5px; }
footer #links a:hover { text-decoration: none; }

/* Home header-band */
#header-band > div { height:10px;background-color:#4F5B54;}
#header-band > div:first-child { background-color:#DC2314; }

#home-statics { background: #F5F5F5; }

/* Home Book-People COntainer */
#home-bookpeople {
    height:600px;
    background-image:url('/img/book_people.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*Competition List View*/

#competition-list #search-container {
    background: #f5f5f5;
}
#competition-list #search-items > .row:last-child { border-bottom:0 !important; }
#competition-list #search-items table.statics {
    margin-top:6.5em;
    text-align:center;
}
@media screen and (max-width:600px) {
    #competition-list #search-items table.statics {
        margin-top:0.5em;
    }
}
#competition-list #search-items table.statics th {
    padding:0 10px;
}
#competition-list #more-box { margin-bottom:10rem !important; }
#competition-list #more-box .btn { cursor:pointer; }
#competition-list #more-box .btn:hover { opacity:0.5; }

#competition-list #search-items img:hover {opacity:0.9}
#competition-list #search-items a {color:black;}
#competition-list #search-items a:hover {text-decoration:none;color: #565656;}
/*Competiton Add/Edit View*/

#competition-edit #top-container, #competition-view #top-container { background:#f5f5f5; }
#competition-edit .nav a.nav-links:hover {text-decoration:none !important;}
#competition-edit .nav a.nav-links h6 { color:black; }
#competition-edit .nav a.nav-links.active { border-color:#BBBDC0 !important; background-color:#D6D8DB !important; }


#competition-view #menu-container {
    background:#F5F5F5;
    border-bottom:1px solid #DFDFDF;
}
#competition-view #menu-container ul {
    list-style:none;
    margin:0;
    margin-bottom:-1px;
}
#competition-view #menu-container ul li {
    width:135px;
    font-size:1.2em;
    display:inline-block;
    cursor:pointer;
    margin-left:50px;
    line-height:50px;
    border-bottom:2px solid transparent;
    text-align: center;
    -webkit-transition:all 0.3s cubic-bezier(0.05, 0.95, 0.58, 1);
    -moz-transition:all 0.3s cubic-bezier(0.05, 0.95, 0.58, 1);
    -o-transition:all 0.3s cubic-bezier(0.05, 0.95, 0.58, 1);
    transition:all 0.3s cubic-bezier(0.05, 0.95, 0.58, 1);
}
#competition-view #menu-container ul li:hover,
#competition-view #menu-container .nav-link.active > li {
    border-bottom:2px solid #DC2314;
}

#competition-view #menu-container ul li a {
    color:#212529;
}
#competition-view #menu-container ul li:hover a,
#competition-view #menu-container .nav-link.active {
    color:#DC2314;
}
#competition-view article { min-height:300px; }

#competition-view .card-body { overflow:hidden; }

#competition-view #organizers .item .span.name { line-height: 50px; }
#competition-view #organizers .item:not(:first-child) { margin-left:20px; }
#competition-view #organizers .item a { color:#212529; }
#competition-view #organizers .item a:hover { text-decoration: none; }

table.leaderboard { color:#212529;text-align: center; }
table.leaderboard thead th {
    font-weight: normal;
    color:#DC2314;
    padding:1rem 0;
    line-height:0.95em;
}
table.leaderboard thead { border-bottom: 1px solid #DC2314; }
table.leaderboard tbody td {
    padding:1rem 0;
    border-bottom:1px solid #DFDFDF;
}
table.leaderboard tbody tr:nth-child(2n) td {
    background-color: #fcfcfc;
}
table.leaderboard tbody div.variance { font-size:0.9em;color:#aeaeae; }
table.leaderboard tbody div.variance.positive { font-size:0.9em;color: #49ba41; }
table.leaderboard tbody div.variance.negetive { font-size:0.9em;color: #da0000; }


ul.leaderboard-tab .nav-item { border-radius: 5rem; }
ul.leaderboard-tab .nav-item { border:1px solid #DC2314;padding:0 0.3em; }
ul.leaderboard-tab .nav-item a { color:#212529; }
ul.leaderboard-tab .nav-item:not(:first-child) { margin-left:1em; }
ul.leaderboard-tab .nav-item.active { background-color: #DC2314; }
ul.leaderboard-tab .nav-item.active a { color: white; }



table.mysubmission { color:#212529;text-align: center; }
table.mysubmission thead th {
    font-weight: normal;
    color:#DC2314;
    padding:1rem 0;
    line-height:0.95em;
}
table.mysubmission thead { border-bottom: 1px solid #DC2314; }
table.mysubmission tbody td {
    padding:1rem 0;
    border-bottom:1px solid #DFDFDF;
}
table.mysubmission tbody tr:nth-child(2n) td {
    background-color: #fcfcfc;
}
#agreeModal .modal-dialog { max-width:700px; }

#monitor-header {
    background-color:#E3E3E3;
}
#monitor-header .back-btn { line-height:100px; }
#monitor-header #monitor-category {
    list-style: none;
}
#monitor-header #monitor-category li {
    display:inline-block;
    padding:10px;
    margin:0 10px;
    cursor:pointer;
}
#monitor-header #monitor-category li.active {
    color:#DC2314;
    border-bottom:2px solid #DC2314;
}
#monitor-body { max-height:800px;overflow-y:scroll;min-height:500px; }
